<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries used by Data Scientists
- List of Data Science Tools
- Examples of aithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) NumPy
2) Pandas
3) Matplotlib

|Data Science Tools|
|----|
|Jupyter Notebook|
|Anaconda|
|RStudio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author<h2>

Mohammed Khalid Aldamadi